@import url("../styles/_variables.css");
@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  html.no-js body > *:not(noscript) {
    display: none !important;
  }

  /* ================== RESET ================== */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  /* ================== BASE ================== */
  body {
    background-color: var(--bg);
    color: var(--text);

    font-family:
      var(--font-inter), var(--font-poppins), var(--font-ubuntu),
      var(--font-noto), system-ui, sans-serif;

    line-height: 1.6;
    min-height: 100dvh;

    -webkit-font-smoothing: antialiased;
  }

  /* ================== ELEMENT NORMALIZATION ================== */
  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    border: none;
    outline: none;
  }

  ul,
  ol {
    list-style: none;
  }

  img,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* ================== NICE TOUCHES ================== */

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--text-muted);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-text);
  }

  /* Selection */
  ::selection {
    background: var(--accent);
    color: var(--white);
  }
}
