:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* ===== LIGHT ===== */
  --light-text: hsl(0, 0%, 11%);
  --light-text-muted: hsla(0, 0%, 11%, 0.6);
  --light-text-subtle: hsla(0, 0%, 0%, 0.4);

  --light-bg: hsl(0, 0%, 96%);
  --light-bg-inverted: hsl(0, 0%, 7%);
  --light-bg-elevated: hsl(194, 32%, 92%);
  --light-bg-hover: hsl(207, 35%, 94%);
  --light-bg-popup: hsl(210, 40%, 96%);

  --light-accent: hsl(239, 32%, 48%);
  --light-border: hsla(0, 0%, 11%, 0.1);
  --light-shadow: hsla(0, 0%, 0%, 0.1);
  --light-blur: hsla(0, 0%, 100%, 0.1);

  
  --light-danger: hsl(0, 74%, 42%);
  --light-danger-text: hsl(0, 63%, 28%);

  --light-icon: hsl(0, 0%, 24%);

  /* ===== DARK ===== */
  --dark-text: hsl(0, 0%, 90%);
  --dark-text-muted: hsla(0, 0%, 100%, 0.6);
  --dark-text-subtle: hsla(0, 0%, 100%, 0.4);

  --dark-bg: hsl(0, 0%, 11%);
  --dark-bg-inverted: hsl(208, 100%, 97%);
  --dark-bg-elevated: hsl(0, 0%, 16%);
  --dark-bg-hover: hsl(0, 0%, 18%);
  --dark-bg-popup: hsl(0, 0%, 16%);

  --dark-accent: hsl(239, 78%, 87%);
  --dark-border: hsla(0, 0%, 100%, 0.1);
  --dark-shadow: hsla(0, 0%, 100%, 0.1);
  --dark-blur: hsla(0, 0%, 0%, 0.1);
  
  --dark-danger: hsl(0, 63%, 31%);
  --dark-danger-text: hsl(0, 63%, 64%);

  --dark-icon: hsl(0, 0%, 76%);

  /* ===== SHADES ===== */
  --shade-50: hsl(0, 0%, 44%);
  --shade-100: hsl(0, 0%, 52%);
  --shade-200: hsl(0, 0%, 58%);
  --shade-300: hsl(0, 0%, 62%);
  --shade-400: hsl(0, 0%, 68%);
  --shade-500: hsl(0, 0%, 74%);
  --shade-600: hsl(0, 0%, 80%);
  --shade-700: hsl(0, 0%, 82%);
  --shade-800: hsl(0, 0%, 84%);
  --shade-900: hsl(0, 0%, 89%);
}

[data-theme="light"] {
  --text: var(--light-text);
  --text-muted: var(--light-text-muted);
  --text-subtle: var(--light-text-subtle);

  --bg: var(--light-bg);
  --bg-inverted: var(--light-bg-inverted);
  --bg-elevated: var(--light-bg-elevated);
  --bg-hover: var(--light-bg-hover);
  --bg-popup: var(--light-bg-popup);

  --accent: var(--light-accent);
  --border: var(--light-border);
  --shadow: var(--light-shadow);
  --blur: var(--light-blur);

  --danger: var(--light-danger);
  --danger-text: var(--light-danger-text);

  --icon: var(--light-icon);
}

[data-theme="dark"] {
  --text: var(--dark-text);
  --text-muted: var(--dark-text-muted);
  --text-subtle: var(--dark-text-subtle);

  --bg: var(--dark-bg);
  --bg-inverted: var(--dark-bg-inverted);
  --bg-elevated: var(--dark-bg-elevated);
  --bg-hover: var(--dark-bg-hover);
  --bg-popup: var(--dark-bg-popup);

  --accent: var(--dark-accent);
  --border: var(--dark-border);
  --shadow: var(--dark-shadow);
  --blur: var(--dark-blur);

  --danger: var(--dark-danger);
  --danger-text: var(--dark-danger-text);

  --icon: var(--dark-icon);
}
